<article class="item" id="{{id}}">
  <section class="heading">
    <p id="{{user_id}}">{{user.username}}</p>
    <button class="delete-btn" value="{{id}}">Delete</button>
  </section>
  <section class="content">
    <p class="desc">{{info}}</p>
  </section>
</article>
      